body {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

.menu {
    display: flex;
    flex-flow: column;
    margin: 10px;
    gap: 5px;
}

.container {
    max-height: 960px;
    max-width: 960px;
    min-height: 960px;
    min-width: 960px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    outline: 1px solid black;
    order: 2;
}

.square {
    outline: 1px solid black;
}

button {
    border-radius: 12px;
}



